
* {
  font-family: JetBrainsMono, monospace;
  font-size: 12px;
  font-weight: 600;
  min-height: 32px;
}

window#waybar {
  background-color: transparent;
  color: transparent;
}

#workspaces button {
  padding: 0px 6px 0px 6px;
  color: #e4e6ed;
  border-bottom: 0px solid rgba(94, 0, 0, 0.6);
   transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.68); 
}

#workspaces button.active {
  background-color: transparent;
  color: #e4e6ed;
  border-bottom: 2px solid rgba(170, 1, 1, 0.8);
}

#workspaces button.occupied {
    color: #bbbbbb;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.empty {
    color: #929292;
}

#workspaces button:hover {
    background-color: rgba(94, 0, 0, 0.6);
}

#window {
    background-color: transparent;
    color: #e4e6ed;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#cpu {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#memory {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#temperature {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#clock {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#battery {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#backlight {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#pulseaudio {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#pulseaudio.muted {
    color: #ff5555;
}

#network {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#network .disconnected {
    color: #ff5555;
}

#bluetooth {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#custom-power {
    background-color: rgba(94, 0, 0, 0.6);
    color: #e4e6ed;
    padding-left: 9px;
    padding-right: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 0px;
}