
* {
  font-family: JetBrainsMono, monospace;
  font-size: 12px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
  color: transparent;
}

#workspaces button {
  padding: 6px;
  color: #e4e6ed;
  border-radius: 0px;
}

#workspaces button.active {
  background-color: transparent;
  color: #e4e6ed;
  border-bottom: 2px solid #e4e6ed;
}

#workspaces button.occupied {
    color: #bbbbbb;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.empty {
    color: #929292;
}

#workspaces button:hover {
    background-color: #445fc1;
}

#window {
    background-color: transparent;
    color: #e4e6ed;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    margin-left: 8px;
}

#cpu {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;

}

#memory {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}

#temperature {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}

#clock {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    margin-left: 8px;
}

#battery {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}

#backlight {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}

#pulseaudio {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}

#pulseaudio.muted {
    color: #ff5555;
}

#network {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}

#network .disconnected {
    color: #ff5555;
}

#bluetooth {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
}

#custom-power {
    background-color: rgba(37, 59, 92, 0.66);
    color: #e4e6ed;
    padding-left: 9px;
    padding-right: 13px;
    border-radius: 8px;
    margin-left: 8px;
}